
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search a word results!</title>
    </head>
    <body>
        <h2>You searched through this body of text:</h2>
        <span id="textbody">{{RepeatCounter.getSentence}}</span>
        <p> the word {{RepeatCounter.getWord}} appears this many {{RepeatCounter.getCounter}} times.</p>
        <form  action="/" method="get">
            <button type="submit">Try it again!</button>
        </form>
    </body>
